:root {
  --main-color: #719430;
  --main-width: 350px;
}

body {
  background-color: #ecede8;
}

.login-form-div {
  width: max-content;

  margin: 5% auto auto auto;
  border: var(--main-color) solid 2px;
  border-radius: 15px;
}

.logo {
  width: 120px;
  margin-top: 10px;
}

.login-picture {
  width: var(--main-width);
  height: calc(var(--main-size)-15px);
  border-radius: 15px 15px 0px 0px;
}

.login-form {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: var(--main-color);
  width: var(--main-width);
  height: max-content;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}

.login-form * {
  margin-left: auto;
  margin-right: auto;
}

.warning {
  color: red;
}

.login-form label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-form p {
  font-size: 12px;
}

.login-form a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

.login-form a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

.login-form input,
button,
.phone-input {
  width: 80%;
}
.login-form input:required:focus {
  border: 1px solid red;
  outline: none;
}

.login-form button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 0 10px 0;
  color: white;
  background-color: var(--main-color);
  border-radius: 15px 15px 15px 15px;
}
